<div class="atm-page atm-withdraw">
    <atm-nav>
        Withdraw
    </atm-nav>

    <main class="atm-half">
        <mat-card *ngIf="!transaction && !transactionFailed">
            <mat-card-header>
                <mat-card-title>Make a Withdrawal</mat-card-title>
            </mat-card-header>

            <form (submit)="submitWithdrawal()">
                <mat-card-content>
                    <mat-form-field appearance="outline" class="atm-withdraw-amount">
                        <mat-label>Amount to Withdraw</mat-label>
                        <span matPrefix>&nbsp; $ &nbsp;</span>
                        <input matInput name="atm-withdraw-amount" type="number" [(ngModel)]="withdrawAmount">
                        <button *ngIf="withdrawAmount" matSuffix mat-icon-button
                                aria-label="Clear" (click)="withdrawAmount=null">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </mat-card-content>

                <mat-card-actions class="atm-card-actions">
                    <button mat-raised-button color="primary" type="submit" [disabled]="submitDisabled">Submit</button>
                </mat-card-actions>
            </form>
        </mat-card>

        <atm-transaction [transaction]="transaction" header="Transaction Receipt">
            <mat-card-actions class="atm-card-actions">
                <button mat-raised-button color="primary" (click)="transaction = null">New Transaction</button>
            </mat-card-actions>
        </atm-transaction>

        <mat-card *ngIf="transactionFailed" class="atm-transaction-failed">
            <mat-card-header>
                <mat-card-title>Transaction Failed</mat-card-title>
            </mat-card-header>

            <mat-card-content class="atm-card-content">
                The ATM has insufficient funds to fulfill your request, please try again or contact Customer Support.
            </mat-card-content>

            <mat-card-actions class="atm-card-actions">
                <button mat-raised-button color="primary" (click)="reset()">New Transaction</button>
            </mat-card-actions>
        </mat-card>
    </main>
</div>
