.atm-transaction {
    .atm-card-content {
        padding: 0;
    }

    .atm-amount-cell {
        text-align: right;
    }

    .atm-footer-cell {
        background-color: rgba(0, 0, 0, .1);
        font-weight: 500;
    }

    .atm-card-actions {
        padding-top: 16px;
    }
}
